<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-darkmode">
    <div style="max-width: 80px;">
      <img src="../../../assets/img/logo_nav.png" alt="" style="width: 100%;">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle class="button-nav" value="bold">Home</mat-button-toggle>
          <mat-button-toggle class="button-nav" value="italic">Galery</mat-button-toggle>
          <mat-button-toggle class="button-nav" value="underline">Contact</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-button-toggle-group>
    </div>
  </nav>
</header>