* {
    background-color: #000000;
}

.container-logo {
    width: 80%;
}

.info-text {
    font-size: 15px;
    color:white;
}

.leo-photo{
    border-radius: 340px;
}

.flex-container {
    display: inline-flex;
    align-items: center;
}