<section class="container-fluid">
  <section id="home-logo" class="d-flex justify-content-center">
    <div class="container-logo">
      <img src="../../../assets/img/logo_nav.png" alt="" style="width: 100%;">
    </div>
  </section>
  
  <section id="info" class="row align-items-center">
    <div class="col-md-6">
      <p class="info-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia hic voluptate dolorem quas ratione molestias neque,
        quibusdam nemo sed impedit ex? Alias, perferendis obcaecati similique iste ab veritatis cumque est.
        Laudantium dolor dicta nisi mollitia quibusdam, expedita maxime nostrum quo! Recusandae cupiditate quis nisi odio
        fugit, deserunt repudiandae quaerat assumenda. Sunt optio quo alias, magni voluptas exercitationem ex consectetur
        ducimus. <br>
        Eius deleniti repellendus commodi debitis distinctio nam molestias quo, hic similique perspiciatis unde, ratione
        placeat reprehenderit autem ipsum, odit possimus. Molestias eius reiciendis animi dignissimos, excepturi
        consequuntur voluptate dolores maiores?
        Cum officiis neque reprehenderit. Dicta aperiam eveniet aspernatur pariatur ex aliquid ducimus blanditiis, unde
        nobis minus voluptatum eaque aliquam at repellendus libero facere assumenda incidunt laboriosam quo! Provident,
        nemo saepe?
        Repudiandae, quasi! Repellendus at ipsum error unde doloremque dolores eum porro amet odio a expedita eos debitis,
        suscipit enim voluptas facilis. Quisquam corrupti deserunt voluptatibus consequuntur vero sint dignissimos
        voluptatum?
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/leo_profile.jpg" alt="" class="w-100 leo-photo">
    </div>
  </section>
  
</section>