<section id="info" class="align-items-center container-fluid">
  <div class="align-items-center justify-content-center py-5 row">  
    <div class="col-md-4">
      <p class="info-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia hic voluptate dolorem quas ratione molestias neque,
        quibusdam nemo sed impedit ex? Alias, perferendis obcaecati similique iste ab veritatis cumque est.
        Laudantium dolor dicta nisi mollitia quibusdam, expedita maxime nostrum quo! Recusandae cupiditate quis nisi odio
        fugit,<br>
        
      </p>
    </div> 
    <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
      <img src="../../../assets/img/sixteen.jpg" alt="" class="w-50 radius">
    </div>
  </div>  
           
</section>