<section class="container-fluid p-0">
    <div class="d-md-flex d-none flex">
        <div class="col-md-4 p-0" >
            <img src="../../../assets/img/test1.jpg">
        </div>
        <div class="col-md-4 p-0">
            <img src="../../../assets/img/test2.jpg">
        </div>
        <div class="col-md-4 p-0">
            <img src="../../../assets/img/test3.jpg">
        </div>
        <div class="col-md-4 p-0">
            <img src="../../../assets/img/test4.jpg">
        </div>
        <div class="col-md-4 p-0">
            <img src="../../../assets/img/test5.jpg">
        </div>
        <div class="col-md-4 p-0">
            <img src="../../../assets/img/test6.jpg">
        </div>
    </div>
    <div class="d-md-none">
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/img/test1.jpg">
              </div>              
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/img/test2.jpg">
              </div>              
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/img/test3.jpg">
              </div>              
            </ng-template>
          </ngb-carousel>
    </div>
</section>
